/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	padding-top: 60px;
}

.brand {
	font-family: arial, sans-serif;
	font-style: bold;
	font-size: 24px;

}

.navbar-inner {
	background-color: #ccc;

}

#postit {
	
	margin:10px 0px;
	
}

#lowbar {
	margin: 100px 0px 0px 0px;
	padding: 10px;
	background-color: #ccc;
}